{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <!-- id="article-form" -->
    {% for i in list %}
    <form  method="POST" id="form{{i}}" >
        <div class="row">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group col-4">
                <label class="col-12">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <button  type="submit" id="form{{i}}" class="ted btn btn-primary" value="" />add article</button>
        </div>
    </form>
    {% endfor %}
</div>
<hr />


{% endblock content %}

{% block js %}

<script>




</script>

<script>


var Workin = false;



    // $("#article_form").submit(function (e) {
        $(document).on('mouseenter', '.ted', function(e){
        // preventing from page reload and default actions
        
        e.preventDefault();
        let id = $(this).attr('id')
        var type= $(this).attr("data-id");
        console.log('id:', id);
        id = '#'+id




        
        // serialize the data for sending the form data.
        // make POST ajax call
        $(id).submit(function(e) {
            // $(this).find(':submit').attr( 'disabled','disabled' );
            e.preventDefault();
            var item_id = this.id.toString();
            console.log('submit', item_id);


            // AJAX for posting
            var serializedData = $(this).serialize();

        console.log("create post is working!") // sanity check
        $.ajax({
            // envoi les donnee ver db
            type: 'POST',
            url: "{% url 'shop:add_article' %}",
            data: serializedData,

            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                $(id).trigger('reset');
                // 2. focus to nickname input 
                $("#id_title").focus();
                console.log('succec in db');

                //display the newly friend to table.
                var instance = JSON.parse(response["instance"]);
                var fields = instance[0]["fields"];
                $("#my_articles tbody").prepend(
                    `<tr>
                    <td>${fields["title"]||""}</td>
                    <td>${fields["quantity"]||""}</td>
                    </tr>`
                )
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })

    })

    });

</script>

{% endblock js %}